*{
    margin: 0;
    padding: 0;
}
body{    
    width: 100%;    
    display: grid;
    justify-items: center;
    background-color: black;
    color: aliceblue;
}
main{
    width: 380px;    
}
.categorias{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.flashback img{
    width: 100%;    
    cursor: pointer;
}